.nav{
    display: flex;
    justify-content: space-between;
}

.nav li{
    margin: 25px;
}

*{
    background-color: wheat;
}

#home{
    text-align: center;
    height: 200px;
    padding-top:  10%;
    
}

#home h2{
margin: 30px;
}

#home h3{
    margin-bottom: 50px;
    }

input{
    width: 10%;
}
.settings{
    margin-left: 40%;
    padding-top: 8%
}